.home{
  color: red;
  font-size: 1rem;
}
.estados{
  color: green;
  font-size: 1rem;
}
.cidades{
  color: blue;

  font-size: 2rem;
}
.produtos{
  color: black;
  font-size: 1rem;
}
.pessoas{
  color: yellow;
  font-size: 3rem;
}
.compras{
  color: gray;
  font-size: 1rem;
}
.perfil{
  color: orange;
  font-size: 5rem;
}
.sair{
  color: white;
  background-color: aqua;
  font-size: 1rem;
}